*{
  background-color: #333333;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.App{
  display: flex;
  position: inherit;
  flex-flow: column;
  min-height: 100vh;
  color: #ffffff;
  border:5px solid #ffffff;
  padding: 20px;
  margin:50px;
}
.option{
  
}

a{
  font-size: 24px;
  font-weight: bold;
  margin: 10px;
  padding: 10px;
  color: #ffffff;
  text-decoration: none;
}
.text{
  margin: 20px;
  padding: 20px;
}

/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
